
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/


chromedriver.exe
geckodriver
IEDriverServer.exe
*.log


.DS_Store
Thumbs.db
.directory


.vscode/
.idea/
*.swp


.env
config.ini